body {
    background-color: #eeeeee; 
  }
.Vehicle-container {
  max-width: 1800px;
  /* Set a max-width to limit the content width */
  margin: 0 auto;
  /* Center the container horizontally */
  padding: 20px;
  /* Add some padding for spacing */
}
  
  .booking-navbar {
    background-color: #FFFFFF; 
    padding: 12px 20px; 
    width: 100%; 
    top: 60px; 
    z-index: 1000; 
    justify-content: space-around;
  }
  
  .booking-nav-links {
    list-style-type: none; 
    margin: 0;
    display: flex; 
    justify-content: space-around;
    padding-right: 10px;
  }
  
  .booking-navbar-links {
    flex-grow: 1; 
    text-decoration: none;
    text-align: center; 
    position: relative; 
    margin-right: 210px;
    padding-right: 20px;
    left: 65px;
  }
  .availability-link{
    text-decoration: none;
    color: rgb(136, 134, 134);
    font-size: 18px;
  }
  .availability-link2 {
      text-decoration: none;
      color: rgb(136, 134, 134);
      font-size: 18px;
    }
  .availability-link2::after {
    content: ""; 
    position: absolute;
    bottom: -2px; 
    left: 50%;
    width: 80%; 
    height: 2px; 
    background-color: #f0f2f7; 
    transform: translateX(-50%) scaleX(1); 
  }
  
  .nav-links li a {
    text-decoration: none; 
    color: #f0f2f7; 
    font-weight: bold;
  }
  
  
  .sort-container select {
    color: #171718; 
    background-color:  #eeeeee; 
  }
  
  .sort-container option {
    color: #000; 
    background-color:  #eeeeee; 
  }
  
  .sort-container {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    margin-top: 50px; 
    color: #000; 
  }
  #sort-select{
    margin-top: -1px;
    width: 200px;
  }
  #sort-name {
    margin-top: 4px;
    margin-right: 5px; 
    color: #000; 
  }
  .title-container{
    width: 330px;
  }
  .title {
  margin-left: 20px;
  font-family: var(--text-font-family);
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  }
  .car-details {
    font-family: var(--text-font-family);
    font-weight: 100;
    color: #0c0c0c;
    width: 1200px; 
    margin-top: 35px;
    margin-bottom: 30px;
    margin-left: 60px; 
    padding: 15px 10px 390px; 
    background-color: #fdfbfb;
    border-radius: 8px;
    box-shadow: #0c0c0c;
    height: 320px; 
    display: flex; 
    align-items: flex-start; 
    position: relative; 
  }
  .car-details .listing-section {
      position: relative;
      left: 510px;
    }
  .image-section {
    flex: 0 0 auto; 
    margin-right: 20px; 
  }
  
  .image-section img {
    width: 390px; 
    height: 250px; 
    border-radius: 8px;
  }
   .listing-section ul{
    position: absolute;
    top: -80px;
    right: 590px; 
    margin-top: 170px;
  }
  .listing-section ul {
    list-style-type: none; 
    flex: 1; 
  }
  .lists{
    width: 200px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
  }
  .features {
    position: relative;
    left: -40px;
    justify-content: flex; 
    margin-left: 10px; 
    margin-top: 87px; 
  }
  .features ul {
    list-style-type: none; 
  }
  .features ul li {
    margin-bottom: 5px; 
    font-size: 18px;
    font-weight: 500;
  }
  
  .features2 {
    justify-content: flex; 
    margin-left: 40px; 
    margin-top: 75px; 
  }
  .features2 ul {
    list-style-type: none; 
  }
  .features2 ul li {
    margin-bottom: 5px; 
  }
  
  .features3 {
    justify-content: flex; 
    margin-left: 50px; 
    margin-top: 75px; 
  }
  .features3 ul {
    list-style-type: none; 
  }
  .features3 ul li {
    margin-bottom: 5px; 
  }
  
  .features4 {
    justify-content: flex; 
    margin-left: 70px; 
    margin-top: 75px; 
  }
  .features4 ul {
    list-style-type: none; 
  }
  .features4 ul li {
    margin-bottom: 5px; 
  }
  
  .price-section {
    margin-top: 80px; 
    text-align: center; 
    margin-left: 110px; 
    position: relative;
    left: -75px;
    width: 200px;
  }
   #price{
    font-size: 18px;
    font-weight: 600;
    color: #0c0c0c;
   }
   #price-title{
    font-size: 20px;
    font-weight: 600;
    color: #0c0c0c;
   }
  .price-section p:first-child {
    padding-left: 10px; 
  }
  
  .book-now-button {
    margin-top: -5px; 
    padding: 8px 18px; 
    background-color: #5557d4; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  
  
  